@model ProjectRequest.Models.TaskListInfo
@using ProjectRequest.HTMLHelpers;
@{
    ViewBag.Title = "Task Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/print.css"> 
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#dateStart').datepicker();
        $('#dateEnd').datepicker();
    });
</script>

<h3>Filter CC Task Files</h3>

@using (Html.BeginForm((string)ViewBag.Method, "Request"))
{
    <label for="dateStart">Due Date Start:</label>
    if (Model.PagingInfo.dateStart != null)
    {
        <input type="text" name="dateStart" id="dateStart" value="@Model.PagingInfo.dateStart" />
    }
    else
    {
        <input type="text" name="dateStart" id="dateStart" />
    }
    <br />
    
    <label for="dateEnd">Due Date End:</label>
    if (Model.PagingInfo.dateEnd != null)
    {
        <input type="text" name="dateEnd" id="dateEnd" value="@Model.PagingInfo.dateEnd" />
    }
    else
    {
        <input type="text" name="dateEnd" id="dateEnd" />
    }
    <br />
    
    <label for="assignedTo">Assigned To:</label>
    <select name="assignedTo" id="assignedTo">
        <option value="00">Please Select:</option>
        @foreach (var staff in Model.staffList)
        {
            if (staff.staffID == Model.PagingInfo.assignedTo)
            {
                <option value="@staff.staffID" selected="selected">@staff.firstName @staff.lastName</option>
            }

            else
            {
                <option value="@staff.staffID">@staff.firstName @staff.lastName</option>
            }
        }
    </select>
    <br />
    
    <label for="status">Status:</label>
    <select name="status" id="status">
        <option value="00">Please Select:</option>
        @foreach (var status in Model.status)
        {
            if (status.status == Model.PagingInfo.status)
            {
                <option value="@status.status" selected="selected">@status.status</option>      
            }
            else
            {
                <option value="@status.status" >@status.status</option>
            }
        }
    </select>
    <br />
    
    <label for="completed">Show Completed Tasks:</label>
    <select name="completed" id="completed">
        <option value="00">Please Select:</option>

            @if (Model.PagingInfo.completed == "false")
            {
                <option value="true">Yes</option>
                <option value="false" selected="selected">No</option>
            }

            else
            {
                <option value="true" selected="selected">Yes</option>
                <option value="false">No</option>
            }
         
    </select>
    <br />
    
    <label for="priority">CC priority tasks only:</label>
    <select name="priority" id="priority">
        <option value="00">Please Select:</option>

            @if (Model.PagingInfo.priority == "false")
            {
                <option value="true">Yes</option>
                <option value="false" selected="selected">No</option>
            }

            else
            {
                <option value="true" selected="selected">Yes</option>
                <option value="false">No</option>
            }
         
    </select>
    <br />
    
    <input type="submit" name="search" value="Filter Results" />
}

<h3>CC Task Files</h3>

<div class='datagrid'>
<table>
<thead><tr><th>Due Date</th><th>Name of Project</th><th>Task</th><th>Assigned To</th><th>Status</th><th class="noPrint">Details</th></thead>
<tbody>

@{
    string rowColor = "alt";
}

@foreach (var task in Model.taskView)
{
    string assignments = "";

    foreach (var staff in task.staffList)
    {
        assignments += staff + ", ";
    }

    if (rowColor == "noAlt")
    {
        rowColor = "alt";
    }
    else
    {
        rowColor = "noAlt";
    }
    
    <tr class="@rowColor" @if (task.taskList.priority == true)
                          {<text> style="outline: thin solid red"</text>}>
    <td>@task.taskList.DueDate</td>
    @if(task.request.projectName != null)
    {
        <td>@Html.ActionLink(task.request.projectName, "ViewRequest", new { requestID = @task.request.reuqestID }, new { target = "_blank" }) </td>
    }
    else
    {
        <td>@Html.ActionLink("This case does not have name", "ViewRequest", new { requestID = @task.request.reuqestID }, new { target = "_blank" }) </td>
    }
    <td>@task.taskList.Task</td>
    <td>@assignments</td>
    <td>@task.taskList.Status</td>
    <td class="noPrint">@Html.ActionLink("Edit Case", "RequestInfo", new { requestID = @task.request.reuqestID }, new { target = "_blank" }) </td>
    </tr>
}

</tbody>

<tfoot>
<tr><td colspan="9">
<div class="paging">
<ul>
@Html.PageLinks(Model.PagingInfo, x => Url.Action((string)ViewBag.Method, new { page = x }))
</ul>
</div>
</td></tr>
</tfoot>
</table>

</div>
