@model ProjectRequest.Models.RequestInfoViewModel

@{
    ViewBag.Title = "CC Case File";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
   <link rel="stylesheet" href="~/css/magnific-popup.css"> 
    <link rel="stylesheet" href="~/css/printCase.css"> 
    
   <style type="text/css">

        .white-popup {
          position: relative;
          background: #FFF;
          padding: 20px;
          width: auto;
          max-width: 800px;
          margin: 30px auto;
        }

    </style>
}

<script type="text/javascript">
    $(document).ready(function () {
        if(getUrlVars()["position"] != null)
        {
            var position = $("#" + getUrlVars()["position"]).position();

            $(window).scrollTop(parseInt(position.top) - 75);
        }


    });

    function DisplayReport() {
        $.magnificPopup.open({
            items: {
                src: '#addTime'
            },
            type: 'inline',
            callbacks: {
                close: function () {
                    $("#Chore").val('');
                    $("#TimeSpent").val('');
                    $("#reportResponse").html('');
                }
            }
        });
    }

    function DisplayScully() {
        $.magnificPopup.open({
            items: {
                src: '#Scully'
            },
            type: 'inline'
        });
    }

    function AddTime() {
        var currentDate = $.datepicker.formatDate('mm/dd/yy', new Date());

        $.ajax({
            type: "POST",
            url: "/ProjectRequest/ProjectRequest/TimeSheet/AddTime",
            data: '{"id":"' + $("#Request").val() + '", "description":"' + $("#Chore").val() + '", "time":"' + $("#TimeSpent").val() + '"}',
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $("#reportResponse").html(response);
            },
            failure: function (response) {
                $("#reportResponse").html(response);
            }
        });
    }

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
</script>
<h3 id="EditProject">CC Case File</h3> <a href="RequestInfo?requestID=@Model.request.reuqestID.ToString()&position=EditProject">Edit Case File</a> 

<input type="hidden" id="scrollPosition" name="scrollPosition" class="scrollPosition" value="@ViewBag.Position" />
    
<p><b>Completed?</b> @Model.request.completed.ToString()</p>
    
<p><b>CT#</b> @Model.request.currentTrackID</p>

<p><b>CC ID</b> @Model.request.customID</p>

<p><b>Date Submitted:</b> @Model.request.dateRequested </p>

<p><b>Due Date:</b> @Model.request.dueDate </p>

@{
    var projectAssignment = Model.assignments.Where(a => a.requestID == Model.request.reuqestID);
    string assignedTo = "";
    foreach (var staff in projectAssignment)
    {
        assignedTo += staff.staffID + ", ";
    }
}

<p><b>CC Agents:</b> @assignedTo <a href="RequestInfo?requestID=@Model.request.reuqestID.ToString()&position=EditAssignments">Edit Case File</a>  </p>

<p><b>Requester Name:</b> @Model.request.name </p>
    
<p><b>Email Address:</b> @Model.request.email</p>

<p><b>Approved By:</b> @Model.request.doaName</p>

<p><b>Project Name:</b> @Model.request.projectName</p>

<p><b>Contact Info:</b> @Model.request.contactInfo</p>
    
<p><b>Location:</b> @Model.request.location </p>
    
<p><b>Category:</b> @Model.request.categoryID </p>

@{
    int poCount = 0;   

    foreach(var po in Model.poNum)
    {
        poCount++;
 
        <p><b>PO# @poCount:</b> @po.PONum1 </p>
    }
}

<p><b>Cost:</b> @Model.request.cost.ToString() </p>
    
<p><b>Details:</b> @Model.request.detail</p>
    
<p><b>Comments:</b> @Model.request.comment</p>   

@foreach (var request in Model.answerList)
{
    <p><b>@request.question</b> @Html.Raw(Html.Encode(request.answer.AnswerText).Replace(Environment.NewLine, "<br />"))</p>   
}

<p><b>Additional Info</b>@Html.Raw(Html.Encode(Model.request.additionalInfo).Replace(Environment.NewLine, "<br />"))</p>   


<h3 id="EditTask">CC Task File</h3>
<a href="RequestInfo?requestID=@Model.request.reuqestID.ToString()&position=EditTask">Edit Case File</a> 

<div class='datagrid'>
<table>
<thead><tr><th>Order</th><th>Task</th><th>Status</th><th>Due Date</th><th>Assigned To</th></tr></thead>
<tbody>

@{
    string rowColor = "alt";
}

@foreach (var task in Model.taskList)
{
    if (rowColor == "noAlt")
    {
        rowColor = "alt";
    }
    else
    {
        rowColor = "noAlt";
    }

    string assignments = "";

    try
    {
        var currentAssignments = Model.taskAssignments.Where(t => t.taskID == task.taskID);

        foreach (var assigned in currentAssignments)
        {
            assignments += assigned.staffID + ", ";
        }
    }
    catch { }
    
    <tr class="@rowColor" @if (task.priority == true) {<text> style="outline: thin solid red"</text>}>
        <td>@task.orderNum</td>
        <td>@task.Task</td>
        <td>@task.Status</td>
        <td>@task.DueDate</td>
        <td>@assignments</td>
    </tr>
}

</tbody>

</table>

</div>

<h3 id="EditAttachments">CC Attachments</h3>
 <a href="RequestInfo?requestID=@Model.request.reuqestID.ToString()&position=EditAttachments">Edit Case File</a> 
     
<div class='datagrid'>
<table>

    <thead>
    <tr>
    <th>File Path</th>

    @if (Model.request.categoryID == "cool")
    {
        <th>Caption</th>
    }

    </tr>
    </thead>

    <tr class="noAlt">
        @if (@Model.request.doaAttachment != "Submitted by DOA" && @Model.request.doaAttachment != "Approval not needed")
        {
            <td><a href="~/Attachments/@Model.request.doaAttachment">@Model.request.doaAttachment (Approval File)</a></td>
        }
        else
        {
            <td>@Model.request.doaAttachment</td>
        }

@{ rowColor = "noAlt"; }

@foreach (var attachment in Model.attachment)
{

    if (rowColor == "noAlt")
    {
        rowColor = "alt";
    }
    else
    {
        rowColor = "noAlt";
    }
    <tr class="@rowColor">
    <td><a href="~/Attachments/@attachment.filePath">@attachment.filePath</a></td>
    @if (Model.request.categoryID == "cool")
    {
        <td>@attachment.caption</td>
    }
    </tr>
}


</table>
</div>

<br />
<p><input type="button" value="Add Time to Report" onclick="DisplayReport()" /></p>


@using (Html.BeginForm("CloseRequest", "Request", new { requestID = Convert.ToInt16(Request.QueryString["requestID"]) }, FormMethod.Post, new { enctype = "multipart/form-data", name = "ReuqestForm", id = "RequestForm" }))
{
    <p><input type="submit" value="Case Closed" /></p>

}

<p><input type="button" value="I don't believe in this case!" onclick="DisplayScully()" /></p>


<div id="addTime" title="File Report" class="white-popup mfp-hide">
<br />

    <div class='datagrid' id="reportForm">
    <table>
    <thead><tr><th>Case ID</th><th>Description</th><th>Hours</th></tr></thead>
    <tbody>

        <tr>
            <td><input type="text" name="Request" id="Request" class="order" value="@Model.request.reuqestID" /></td>
            <td><textarea rows="1" name="Chore" id="Chore" class="task"></textarea></td>
            <td><input type="text" name="TimeSpent" id="TimeSpent" class="timeSpent" /></td>
        </tr>

    </tbody>

    </table>
    <br />
        <input type="button" value="Add Time to Report" onclick="AddTime()" />

    </div>

    <p id="reportResponse"></p>
</div>

<div id="Scully" title="Scully" class="white-popup mfp-hide">
<br />

    <img src="~/images/Scully.jpg" alt="Scully" width="80%" />

</div>

<script src="~/js/jquery.magnific-popup.js"></script>
    


