@model ProjectRequest.Models.TimeSheetInfo

@{
    ViewBag.Title = "File CC Investigational Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/magnific-popup.css"> 
    
    <style type="text/css">

        .white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 700px;
  margin: 20px auto;
}

    </style>
}


<script type="text/javascript">
    $(document).ready(function () {
        var TotalTime = 0.00;
        var choreID;

        $('#dateStart').datepicker();
        $('#dateEnd').datepicker();

        $('.timeSpent').each(function () {
            if ($.isNumeric($(this).val())) {
                TotalTime = TotalTime + parseFloat($(this).val());
            }
        });

        $("#totalTime").text(TotalTime);

        $(".timeSpent").change(function () {

            TotalTime = 0.00;

            $('.timeSpent').each(function () {
                if ($.isNumeric($(this).val())) {
                    TotalTime = TotalTime + parseFloat($(this).val());
                }
            });

            $("#totalTime").text(TotalTime);

        });


        $('.open-popup-link').magnificPopup({
            type: 'inline'
        }).click(function()
        {
            choreID = $(this).attr('id');
        });


        $("#projectList div").hide();

        $("#projectList a").click(function (e) {
            var location = $(this).attr('href');
            $(location).toggle();
            e.preventDefault();
        });

        $(".setID").click(function (e) {
            var projectID = $(this).attr('href');
            var projectName = $(this).attr('title');

            if (choreID == "0") {
                $("#Request").val(projectID);
                $("#name").text(projectName);
            }
            else {
                $("#Request_" + choreID).val(projectID);
                $("#name_" + choreID).text(projectName);
            }

            $.magnificPopup.close();
        });
    });
</script>

@using (Html.BeginForm("EditTimeSheet", "TimeSheet", new { sheetID = Convert.ToInt32(Request.QueryString["sheetID"]) }))
{
    
    <fieldset class="CaseFilter mdl-shadow--6dp">

    <legend>Filter Reports</legend>

    <div class="mdl-grid mdl-grid--no-spacing">
    
        <div class="mdl-cell mdl-cell--3-col" >
            
            <md-input-container>
            <label for="dateStart">Date Start:</label>
            @if(Model.startDate != null)
            {
                <input type="text" name="startDate" id="dateStart" value="@Model.startDate" />
            }
            else
            {
                <input type="text" ng-model="sheet.startDate" name="startDate" id="dateStart"  />
            }
            </md-input-container>
        </div>

        <div class="mdl-cell mdl-cell--3-col" >
            <md-input-container>
            <label for="dateEnd">Date End:</label>
            @if(Model.endDate != null)
            {
                <input type="text" name="endDate" id="dateEnd" value="@Model.endDate" />
            }
            else
            {
                <input type="text" ng-model="sheet.endDate" name="endDate" id="dateEnd" />
            }
            </md-input-container>
        </div>
        
        <div class="mdl-cell mdl-cell--3-col" >
            <label for="assignedProjects">My Cases Only:</label>
            <br />
            <select name="assignedProjects" id="assignedProjects">
                <option value="00">Please Select:</option>
                    @if (Model.assignedProjects == "false")
                    {
                        <option value="true">Yes</option>
                        <option value="false" selected="selected">No</option>
                    }

                    else
                    {
                        <option value="true" selected="selected">Yes</option>
                        <option value="false">No</option>
                    }
        
            </select>
        </div>
        
        <div class="mdl-cell mdl-cell--3-col" >
            <label for="completed">Show Completed Cases:</label>
            <br />
            <select name="completed" id="completed">
                <option value="00">Please Select:</option>

                    @if (Model.completedProjects == "false")
                    {
                        <option value="true">Yes</option>
                        <option value="false" selected="selected">No</option>
                    }

                    else
                    {
                        <option value="true" selected="selected">Yes</option>
                        <option value="false">No</option>
                    }
         
            </select>
        </div>
    
    </div>
    
    <input type="submit" name="search" value="Filter Case Files" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button" />

</fieldset>    
 <br /><br />
    

<fieldset class="mdl-shadow--6dp">
    <legend>CC Report</legend>
    <br />

    <p id="reportTime"><b>Total Time: <span id="totalTime"></span></b></p>

    <div class='datagrid mdl-shadow--6dp'>
        <table>
            <thead><tr><th>Select Case</th><th class="mdl-cell--hide-phone">ID</th><th>Name</th><th>Description</th><th>Hours</th><th class="mdl-cell--hide-phone">Delete</th></tr></thead>
            <tbody>

                @{
                    string rowColor = "alt";
                }

                @foreach (var chore in Model.chores)
                {
                    //var project = Model.requests.FirstOrDefault(r => r.reuqestID == chore.requestID);
                    //string name = "";


                    //if (project != null)
                    //{
                    //    name = project.projectName;
                    //}

                    if (rowColor == "noAlt")
                    {
                        rowColor = "alt";
                    }
                    else
                    {
                        rowColor = "noAlt";
                    }

                    <tr class="@rowColor">
                        <td><a href="#projectList" class="open-popup-link" id="@chore.choreID">Show Projects</a></td>
                        <td class="mdl-cell--hide-phone">
                            <md-input-container>
                                <input type="text" name="Request_@chore.choreID" id="Request_@chore.choreID" value="@chore.requestID" class="order" />
                            </md-input-container>
                        </td>
                        <td ><span id="name_@chore.choreID">@chore.name</span></td>
                        <td>
                            <md-input-container>
                                <textarea cols="150" name="Chore_@chore.choreID" id="Chore_@chore.choreID" class="task">@chore.chore1</textarea>
                            </md-input-container>
                        </td>
                        <td>
                            <md-input-container>
                                <input type="text" name="TimeSpent_@chore.choreID" id="TimeSpent_@chore.choreID" value="@chore.timeSpent" class="timeSpent" />
                            </md-input-container>
                        </td>
                        <td class="mdl-cell--hide-phone">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="Delete_@chore.choreID">
                                <input type="checkbox" id="Delete_@chore.choreID" name="Delete_@chore.choreID" class="mdl-switch__input" />
                            </label>
                        </td>
                    </tr>
                }
                @if (rowColor == "noAlt")
                {
                    rowColor = "alt";
                }
                else
                {
                    rowColor = "noAlt";
                }
                <tr class="@rowColor">
                    <td><a href="#projectList" class="open-popup-link" id="0">Show Projects</a></td>
                    <td class="mdl-cell--hide-phone"> <md-input-container><input type="text" name="Request" id="Request" class="order" /></md-input-container></td>
                    <td ><span id="name"></span></td>
                    <td><md-input-container><textarea cols="150" name="Chore" id="Chore" class="task"></textarea></md-input-container></td>
                    <td><md-input-container><input type="text" name="TimeSpent" id="TimeSpent" class="timeSpent" /></md-input-container></td>
                    @*<td><input type="checkbox" id="Delete" name="Delete"  /></td>*@
                </tr>

            </tbody>

        </table>
    </div>
    <br />

    <div id="saveReport">
        @if (Model.timeSheet.completed == false)
        {
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" id="lblComplete" for="complete">
                <input type="checkbox" name="complete" id="complete" class="mdl-switch__input">
                <span class="mdl-switch__label">Complete Report</span>
            </label>
        }
        else
        {
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" id="lblComplete" for="complete">
                <input type="checkbox" name="complete" id="complete" class="mdl-switch__input" checked>
                <span class="mdl-switch__label">Report is Complete</span>
            </label>
        }

        <br />

        <input type="submit" value="Save Investigational Report" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button" />
    </div>
    </fieldset>                


    <div id="projectList" class="white-popup mfp-hide">
        @foreach (var location in Model.locations)
        {
            <p class="ViewHeader"><a href="#@location.locationID">@location.name</a></p>
            <div class='datagrid mdl-shadow--6dp' id="@location.locationID">
                <table>
                    <thead><tr><th>Select Case</th><th>Case Name</th><th class="mdl-cell--hide-phone">Date Requested</th><th class="mdl-cell--hide-phone">Requester</th></tr></thead>
                    <tbody>

                        @{
            rowColor = "alt";

            var projects = Model.requests.Where(p => p.location == location.name).OrderBy(p => p.projectName);
                        }

                        @foreach (var project in projects)
                        {
                            if (rowColor == "noAlt")
                            {
                                rowColor = "alt";
                            }
                            else
                            {
                                rowColor = "noAlt";
                            }

                            <tr class="@rowColor">
                                <td><a href="@project.reuqestID" title="@project.projectName" class="setID">Select</a></td>
                                <td>@project.projectName</td>
                                <td class="mdl-cell--hide-phone">@project.dateRequested</td>
                                <td class="mdl-cell--hide-phone">@project.name</td>
                            </tr>

                        }

                    </tbody>

                </table>
            </div>
        }
    </div>
    <script src="~/js/jquery.magnific-popup.js"></script>
                            }
