@model ProjectRequest.Models.TaskListInfo

@{
    Layout = null;
    
    <style type="text/css">
        table {

	        font-size:11px;
	        color:#333333;
	        border-width: 1px;
	        border-color: #666666;
	        border-collapse: collapse;
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
        }
        table th {
	        border-width: 1px;
	        padding: 8px;
	        border-style: solid;
	        border-color: #666666;
	        background-color: #dedede;
        }
        table td {
	        border-width: 1px;
	        padding: 8px;
	        border-style: solid;
	        border-color: #666666;
	        background-color: #ffffff;
        }
    </style>
}

<div class='datagrid'>
<table>
<thead><tr><th>Due Date</th><th>Case Name</th><th>Task</th></thead>
<tbody>

@{
    string rowColor = "alt";
}

@foreach (var task in Model.taskView)
{
    string assignments = "";

    foreach (var staff in task.staffList)
    {
        assignments += staff + ", ";
    }

    if (rowColor == "noAlt")
    {
        rowColor = "alt";
    }
    else
    {
        rowColor = "noAlt";
    }
    
    <tr class="@rowColor" @if (task.taskList.priority == true)
                          {<text> style="outline: thin solid red"</text>}>
    <td class="hide-on-med-and-down mdl-layout--large-screen-only">@task.taskList.DueDate</td>
    @if(task.request.projectName != null)
    {
        <td >@Html.ActionLink(task.request.projectName, "ViewRequest", new { requestID = @task.request.reuqestID }, new { target = "_blank" }) </td>
    }
    else
    {
        <td >@Html.ActionLink("This case does not have a name", "ViewRequest", new { requestID = @task.request.reuqestID }, new { target = "_blank" }) </td>
    }
    <td>@task.taskList.Task</td>
@*    <td class="hide-on-med-and-down mdl-layout--large-screen-only">@assignments</td>
    <td class="hide-on-med-and-down mdl-layout--large-screen-only">@task.taskList.Status</td>*@
    @*<td class="noPrint hide-on-med-and-down mdl-layout--large-screen-only">@Html.ActionLink("Edit Case", "RequestInfo", new { requestID = @task.request.reuqestID }, new { target = "_blank" }) </td>*@
    </tr>
}

</tbody>
</table>
</div>