@model ProjectRequest.Models.RequestListCategory
@using ProjectRequest.HTMLHelpers

@{
    ViewBag.Title = "Print My Cases";
    Layout = null;
    
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    
    <style>
    table {

	    font-size:11px;
	    color:#333333;
	    border-width: 1px;
	    border-color: #666666;
	    border-collapse: collapse;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
    }
    table th {
	    border-width: 1px;
	    padding: 8px;
	    border-style: solid;
	    border-color: #666666;
	    background-color: #dedede;
    }
    table td {
	    border-width: 1px;
	    padding: 8px;
	    border-style: solid;
	    border-color: #666666;
	    background-color: #ffffff;
    }
 </style>
}


<div class='datagrid'>
<table>
<thead><tr><th>Due Date</th><th>Case Name:</th><th>Category</th></tr></thead>
<tbody>

@{
    string rowColor = "odd";
}

@foreach (var request in Model.requestList)
{
    var myAttachments = Model.attachments.Where(a => a.requestID == request.Request.reuqestID);

    if (rowColor == "odd")
    {
        rowColor = "even";
    }
    else
    {
        rowColor = "odd";
    }
    
    <tr class="@rowColor">
@*    <td class="noPrint mdl-cell--hide-phone mdl-layout--large-screen-only">@request.Request.currentTrackID</td>
    <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">@request.Request.customID</td>
    <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">@request.Request.dateRequested.ToShortDateString()</td>*@
@*    <td >@request.Request.name</td>*@
    <td >@request.Request.dueDate</td>
    <td>@request.Request.projectName</td>
@*    <td class="noPrint mdl-cell--hide-phone mdl-layout--large-screen-only">@Html.ActionLink("Edit Case", "RequestInfo", new { requestID = @request.Request.reuqestID }, new { target = "_blank" }) </td>
    <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">@request.Request.location</td>*@
    <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">@request.Category.categoryName</td>

@*    @foreach (var attachment in myAttachments)
    {
        <a href="~/Attachments/@attachment.filePath" target="_blank">@attachment.filePath<br /></a>
    }    
    </td>*@
    </tr>
}

</tbody>


</table>

</div>
