@model ProjectRequest.Models.RequestInfoViewModel

@{
    ViewBag.Title = "CC Case File";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    <link rel="stylesheet" href="~/css/magnific-popup.css"> 
    
   <style type="text/css">

        .white-popup {
          position: relative;
          background: #FFF;
          padding: 20px;
          width: auto;
          max-width: 800px;
          margin: 30px auto;
        }

       .externalEmail
       {
           width: 350px;
       }

    </style>
}

<div class="form" ng-if="!blocked">
@using (Html.BeginForm("EditRequest", "Request", new { requestID = Convert.ToInt16(Request.QueryString["requestID"]) }, FormMethod.Post, new { enctype = "multipart/form-data", name = "ReuqestForm", id = "RequestForm" }))
{
 
    <div id="caseInfo"  >

    <fieldset id="EditProject" class="mdl-shadow--6dp">

    <legend>CC Case File</legend>

    <div class="mdl-grid mdl-grid--no-spacing viewEdit">
        <div class="mdl-cell mdl-cell--2-col viewEdit" >
        <a href="ViewRequest?requestID=@Model.request.reuqestID.ToString()&position=EditProject">View Case File</a> 
        </div>
    </div>

    <input type="hidden" id="scrollPosition" name="scrollPosition" class="scrollPosition" value="@ViewBag.Position" />
   
    <div class="mdl-grid">
    
        <div class="mdl-cell mdl-cell--3-col" >
            <label for="completed">Completed?</label>
            <select name="completed">
            @if (Model.request.completed == true)
            {
                <option value="Yes" selected="selected">Yes</option>
                <option value="No">No</option>
            }
            else
            {
                <option value="Yes" >Yes</option>
                <option value="No" selected="selected">No</option>
            }
            </select>
            <br />
        </div>

   </div>

    <div class="mdl-grid">

        <div class="mdl-cell mdl-cell--3-col" >
            <md-input-container>
            <label for="projectName" aria-labelledby="projectName">Case Name:</label>
            <textarea style="height: auto;" rows="3" name="projectName" id="projectName">@Model.request.projectName</textarea>
            </md-input-container>
        </div>

        <div class="mdl-cell mdl-cell--3-col" >
            <md-input-container>
            <label for="dueDate">Due Date:</label>
            @if(Model.request.dueDate != null)
            {
                <input type="text" name="dueDate" class="date" value="@Model.request.dueDate" />
            }
            else
            {
                <input ng-model="case.dueDate" type="text" name="dueDate" class="date" value="@Model.request.dueDate" />
            }
            </md-input-container>
        </div>

        <div class="mdl-cell mdl-cell--3-col" >
            <md-input-container>
            <label for="date">Date Submitted:</label>
            <input  type="text" name="date" class="date" value="@Model.request.dateRequested" />
            </md-input-container>
        </div>



        <div class="mdl-cell mdl-cell--3-col" >
            <md-input-container>
            <label for="ID">CC ID:</label>
            <textarea cols="25"  name="CCID" id="CCID">@Model.request.customID</textarea>
            </md-input-container>
        </div>

 
        <div class="mdl-cell mdl-cell--3-col" >
            <md-input-container>
            <label for="name">Requester Name:</label>
            <input name="name" id="name" value="@Model.request.name" />
            </md-input-container>
        </div>

        <div class="mdl-cell mdl-cell--3-col" >
            <md-input-container>
            <label for="email">Email Address:</label>
            <input name="email" id="email" value="@Model.request.email" />
            </md-input-container>
        </div>

        <div class="mdl-cell mdl-cell--3-col" >
            <md-input-container>
            <label for="contactInfo">Contact Info:</label>
            <textarea cols="25" name="contactInfo" id="contactInfo">@Model.request.contactInfo</textarea>
            </md-input-container>
        </div>

        <div class="mdl-cell mdl-cell--3-col" >
            <md-input-container>
            <label for="doaName">Approved By:</label>
            <input cols="25"  name="doaName" id="doaName" value="@Model.request.doaName" />
            </md-input-container>
        </div>


        <div class="mdl-cell mdl-cell--3-col" >
            <label for="category">Category:</label><br />
            <select name="category" id="category">
                @foreach (var category in Model.cateogires)
                {
                    if (category.categoryID == Model.request.categoryID)
                    {
                        <option value="@category.categoryID" selected="selected">@category.categoryName</option>
                    }

                    else
                    {
                        <option value="@category.categoryID">@category.categoryName</option>
                    }
                }
            </select>
            <br />
        </div>

        <div class="mdl-cell mdl-cell--3-col" >
            <label for="location">Location:</label><br />
            <select name="location" id="location">
                <option value="00">Please Select:</option>
                @foreach (var location in Model.location)
                {
                    if (location.name == Model.request.location)
                    {
                        <option value="@location.name" selected="selected">@location.name</option>      
                    }
                    else
                    {
                        <option value="@location.name" >@location.name</option>
                    }
                }
            </select>
            <br />
        </div>

        <div class="mdl-cell mdl-cell--3-col" >
            <md-input-container>
            <label for="cost">Cost:</label>
            <input type="text" name="cost" id="cost" value="@Model.request.cost" />
            </md-input-container>
        </div>

        <div class="mdl-cell mdl-cell--3-col" >
            <md-input-container>
            <label for="CT#">CT#</label>
            <input type="text" name="CT#" id="CT#" value="@Model.request.currentTrackID" />
            </md-input-container>
        </div>


        @{
            int poCount = 1;

            foreach (var po in Model.poNum)
            {
                <div class="mdl-cell mdl-cell--3-col" >
                    <md-input-container>
                    <label for="poNumber">PO# @poCount:</label>
                    <input type="text" name="poNumber_@po.poID" class="poNumber" value="@po.PONum1" />
                    </md-input-container>
                </div>

                poCount++;
            }
        }

        <div class="mdl-cell mdl-cell--3-col" >
            <label for="poNumber">Add additional PO Numbers:</label><br />
            <select id="addPO" name="addPO">
                <option value="0">None</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
                <option value="6">Six</option>
                <option value="7">Seven</option>
                <option value="8">Eight</option>
            </select>
        </div>
        
    </div> @*End Grid*@
    

    <div class="mdl-grid" id="additonalPO">

   </div> 

     <div class="mdl-grid ">  
        <div class="mdl-cell mdl-cell--6-col" >
            <md-input-container>
            <label for="details">Details:</label>
            <textarea cols="200" name="details" id="details">@Model.request.detail</textarea>
            </md-input-container>
        </div>
    
         <div class="mdl-cell mdl-cell--6-col" >
             <md-input-container>
            <label for="comments">Comments:</label>
            <textarea cols="200" id="comments" name="comments">@Model.request.comment</textarea>   
            </md-input-container>
        </div>
    

    @* Load in individual Questions *@
    @foreach (var request in Model.answerList)
    {
        <div class="mdl-cell mdl-cell--6-col" >
            
            <md-input-container>
            <label for="@request.answer.AnswerID">@request.question</label>
            <textarea cols="200" id="@request.answer.AnswerID" name="@request.answer.AnswerID">@request.answer.AnswerText</textarea>   
            </md-input-container>

        </div>
    }
    @* End individual questions *@

        <div class="mdl-cell mdl-cell--6-col" >
            <md-input-container>
            <label for="additionalInfo">Additional Info</label>
            <textarea cols="200" id="additionalInfo" name="additionalInfo">@Model.request.additionalInfo</textarea>   
            </md-input-container>
        </div>

    </div>
    
    <br />
    <input type="submit" name="assign" value="Save Changes to Case File" onclick="ResetPosition()"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button"/>
    <br />

    </fieldset>

    </div> //End caseInfo mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone Div
    <br /><br />
    
    
    
    <fieldset id="EditTask" class="mdl-shadow--6dp">

    <legend>CC Task File</legend>

        <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--2-col" >
            <a href="ViewRequest?requestID=@Model.request.reuqestID.ToString()&position=EditTask">View Case File</a>     
            </div>
        </div>

        <div class='datagrid'>
        <table>
        <thead><tr><th class="mdl-cell--hide-phone mdl-layout--large-screen-only">Order</th><th>Task</th><th class="mdl-cell--hide-phone mdl-layout--large-screen-only">Status</th><th class="mdl-cell--hide-phone mdl-layout--large-screen-only">Due Date</th><th class="mdl-cell--hide-phone mdl-layout--large-screen-only">Assigned To</th><th class="mdl-cell--hide-phone mdl-layout--large-screen-only">CC Priority</th><th class="mdl-cell--hide-phone mdl-layout--large-screen-only">Delete</th></tr></thead>
        <tbody>

        @{
            string rowColor = "alt";
        }

        @foreach (var task in Model.taskList)
        {
            if (rowColor == "noAlt")
            {
                rowColor = "alt";
            }
            else
            {
                rowColor = "noAlt";
            }

            string assignments = "";

            try
            {
                var currentAssignments = Model.taskAssignments.Where(t => t.taskID == task.taskID);

                foreach (var assigned in currentAssignments)
                {
                    assignments += assigned.staffID + ", ";
                }
            }
            catch { }
    
            <tr class="@rowColor">
                <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                    <md-input-container>
                    <input type="text" name="Order_@task.taskID" id="Order_@task.taskID" value="@task.orderNum" class="order" />
                    </md-input-container>
                </td>
                <td>
                    <md-input-container>
                    <textarea cols="150" name="Task_@task.taskID" id="Task_@task.taskID" >@task.Task</textarea>
                    </md-input-container>
                </td>
                <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                    <select name="Status_@task.taskID" id="Status_@task.taskID" class="status">
                    <option value="00">Please Select:</option>
                    @foreach (var status in Model.taskStatus)
                    {
                        if (status.status == task.Status)
                        {
                            <option value="@status.status" selected="selected">@status.status</option>      
                        }
                        else
                        {
                            <option value="@status.status">@status.status</option>
                        }
                    }
                </select>
                </td>
                <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                    <md-input-container>
                    <input type="text" name="DueDate_@task.taskID" id="DueDate_@task.taskID" value="@task.DueDate" class="dueDate" />
                    </md-input-container>
                </td>
                <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                    <md-input-container>
                    <input type="text" name="Assignment_@task.taskID" value="@assignments"  class="assignment" />
                    </md-input-container>
                </td>
                
                @if (task.priority == true)
                {
                    <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="Prioritize_@task.taskID">
                        <input type="checkbox" id="Prioritize_@task.taskID" name="Prioritize_@task.taskID" checked="checked" class="mdl-switch__input delete"  />
                        </label>
                    </td>
                }
                else
                {
                    <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="Prioritize_@task.taskID">
                        <input type="checkbox" id="Prioritize_@task.taskID" name="Prioritize_@task.taskID" class="mdl-switch__input delete"  />
                        </label>
                    </td>
                }

                <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="Delete_@task.taskID">
                        <input type="checkbox" id="Delete_@task.taskID" name="Delete_@task.taskID" class="mdl-switch__input delete"  />
                    </label>
                </td>
            </tr>
        }
            @if (rowColor == "noAlt")
            {
                rowColor = "alt";
            }
            else
            {
                rowColor = "noAlt";
            }
            <tr >
                <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                    <md-input-container >
                        <input type="text"  name="Order" id="Order" class="order" />
                    <md-input-container>
                </td>
                <td>
                    <md-input-container>
                    <textarea cols="200" type="text" name="Task" ></textarea>
                    </md-input-container>
                </td>
                <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">    
                <select name="Status" id="Status" >
                    <option value="00">Please Select:</option>
                    @foreach (var status in Model.taskStatus)
                    {
                        <option value="@status.status">@status.status</option>      
                    }
                </select>
                </td>
                <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                    <md-input-container>
                    <input type="text" name="DateDue" id="DueDate" class="dueDate" />
                    </md-input-container>
                </td>
                <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                    <md-input-container>
                    <input type="text" name="Assignment" class="assignment" />
                    </md-input-container>
                </td>
                <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="Prioritize">
                    <input type="checkbox" id="Prioritize" name="Prioritize" class="mdl-switch__input delete"  />
                    </label>
                </td>
                <td></td>
            </tr>

        </tbody>

        </table>

        </div>
        <br /><br />

        <label for="template">Add Templates:</label>
        <select name="template" id="template">
            <option value="00">Please Select:</option>
            @foreach (var template in Model.templateList)
            {
                <option value="@template.templateID" >@template.templateName</option>
            }
        </select>
        <br /><br />

        <input type="submit" name="saveTaskList" id="saveTaskList" value="Save Task File" onclick="SaveTaskList(@Request.QueryString["requestID"].ToString())" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button" />

    </fieldset> //End Task List Table
    <br /><br />
       
                    
    <fieldset id="EditAttachments" class="mdl-shadow--6dp">

    <legend>Attachments</legend>                 

         <div class="mdl-grid mdl-grid--no-spacing">
             <div class="mdl-cell mdl-cell--2-col" >
             <a href="ViewRequest?requestID=@Model.request.reuqestID.ToString()&position=EditAttachments">View Case File</a>   
             </div>
         </div>

        <div class='datagrid'>
        <table>

            <thead>
            <tr>
            <th>File Path</th><th class="mdl-cell--hide-phone mdl-layout--large-screen-only">Date Uploaded</th><th class="mdl-cell--hide-phone mdl-layout--large-screen-only">Delete</th>

            @if (Model.request.categoryID == "cool")
            {
                <th class="mdl-cell--hide-phone mdl-layout--large-screen-only">Caption</th>
            }

            </tr>
            </thead>

            <tr class="noAlt">
                @if (@Model.request.doaAttachment != "Submitted by DOA" && @Model.request.doaAttachment != "Approval not needed")
                {
                    <td><a href="~/Attachments/@Model.request.doaAttachment">@Model.request.doaAttachment (Approval File)</a></td>
                }
                else
                {
                    <td>@Model.request.doaAttachment</td>
                }

        @{ rowColor = "noAlt"; }

        @foreach (var attachment in Model.attachment)
        {

            if (rowColor == "noAlt")
            {
                rowColor = "alt";
            }
            else
            {
                rowColor = "noAlt";
            }
            <tr class="@rowColor">
            <td><a href="~/Attachments/@attachment.filePath">@attachment.filePath</a></td>
            <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                @attachment.dateAdded
            </td>
              <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">
                <input type="checkbox" name="Delete_@attachment.attachmentID" />
            </td>
            @if (Model.request.categoryID == "cool")
            {
                <td class="mdl-cell--hide-phone mdl-layout--large-screen-only">@attachment.caption</td>
            }

            </tr>
        }


        </table>
        </div>
        <br />

        <p><b>Upload a file: <input type="file" name="uploadFile" id="uploadFile" /></b></p>


        <input type="submit" name="saveFile" id="saveFile" value="Save File" onclick="SaveTaskList(@Request.QueryString["requestID"].ToString())" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button" />
    
    </fieldset> //End attachments section
    <br /><br />
                

    <fieldset class="mdl-shadow--6dp">
    <legend>Send Email</legend>
        <br />

        <label>To:</label>
        <br />
        <md-input-container>
        <textarea cols="100"  type="text" name="TO" id="TO"></textarea>
        </md-input-container>
        <br />
        
        <label>Email Body:</label>
        <br />
        <md-input-container>
        <textarea cols="200" name="emailBody"></textarea>
        </md-input-container>
        <br />
        
        <br />
        <input type="submit" name="assign" value="Send Email" onclick="ResetPosition()"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button"/>
        <br />

    </fieldset>
    <br /><br />
    
    
    
    <fieldset id="EditAssignments" class="mdl-shadow--6dp">
    <legend>Assign CC Agents</legend>
        @{
            var assignmentList = Model.assignments.Select(a => a.staffID).ToList();
        }
        
        <div class="mdl-grid ">    
            @foreach (var staff in Model.staff)
            {
                <div class="mdl-cell mdl-cell--3-col" >
                @if (assignmentList.Contains(staff.staffID))
                {
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect assignmentStaff" for="CB_@staff.staffID">
                        <input type="checkbox" name="CB_@staff.staffID" id="CB_@staff.staffID" class="mdl-switch__input" checked>
                        <span class="mdl-switch__label">@staff.firstName @staff.lastName</span>
                    </label>
                    <br />
                }
                else
                {
                   <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect assignmentStaff" class="assignment" for="CB_@staff.staffID">
                        <input type="checkbox" name="CB_@staff.staffID" id="CB_@staff.staffID" class="mdl-switch__input">
                        <span class="mdl-switch__label">@staff.firstName @staff.lastName</span>
                    </label>
                    <br />
                }
                </div>
            }
        </div>

        <br />
        <input type="submit" name="assign" value="Save Changes to Case File" onclick="ResetPosition()"  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button"/>
        <br />
    
   </fieldset> //End assignment section

} @*Close out form *@
<br /><br />
</div>


<fieldset class="mdl-shadow--6dp">
<legend>Additonal CC Functions</legend>

    <br />
    <label>Send External Email</label>
    <br />
    <md-input-container>
        
    <textarea  cols="100" rows="1" type="text" name="externalEmail" id="externalEmail" class="externalEmail"></textarea>
    </md-input-container>
    <br />

    <input type="button" value="Send External Email" onclick="SendExternalEmail(@Model.request.reuqestID)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button"  />
    <br /><br />

    <input type="button" value="Add Time to Report" onclick="DisplayReport()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button" />

</fieldset>


@* Hiddent Divs *@
<div id="staffList">
    <ul>
    @foreach (var staff in Model.staff)
    {
        <li><a href="@staff.staffID">@staff.firstName @staff.lastName</a></li>
    }
    </ul>
</div>

<div id="emailList">
    <ul>
        <li><a href="amanda@idealogy.biz">Amanda Kaiser</a></li>
        <li><a href="allen@idealogy.biz">Allen Howie</a></li>
        <li><a href="jeff@creativepop.com">Jeff Windhorst</a></li>
        <li><a href="ash862@me.com">Aaron Hutchings</a></li>
        <li><a href="aaron@tmjeff.com">Aaron Hutchings 9631776</a></li>
        <li><a href="s_crady@yahoo.com">Steven Crady</a></li>
    </ul>

</div>

<div id="addTime" title="File Report" class="white-popup mfp-hide">
<br />

    <div class='datagrid' id="reportForm">
    <table>
    <thead><tr><th>Case ID</th><th>Description</th><th>Hours</th></tr></thead>
    <tbody>

        <tr>
            <td><md-input-container><input type="text" name="Request" id="Request" class="order" value="@Model.request.reuqestID" /></md-input-container></td>
            <td><md-input-container><textarea cols="150" rows="5" name="Chore" id="Chore" class="task"></textarea></md-input-container></td>
            <td><md-input-container><input type="text" name="TimeSpent" id="TimeSpent" class="timeSpent" /></md-input-container></td>
        </tr>

    </tbody>

    </table>
    <br />
        <input type="button" value="Add Time to Report" onclick="AddTime()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button" />

    </div>

    <p id="reportResponse"></p>
</div>
<br /><br />



<script type="text/javascript">

    //var app = angular.module('CCApp', ['ngMaterial']);

    //app.controller('caseCtrl', function ($scope, $anchorScroll, $timeout, $location) {
    //    $scope.name = 'World';

    //    $timeout(function () {
    //        $anchorScroll('EditTask');
    //    });
    //});

    $(document).ready(function () {
        $('.date').datepicker();
        $('.dueDate').datepicker();
        $('#staffList').hide();
        $('#emailList').hide();
        


        //$(location).attr('href', '#EditTask');
        // from a jQuery collection
        //autosize($('textarea'));

        //if(getUrlVars()["position"] != null)
        //{
        //    var position = $("#EditTask").position();

        //    $(window).scrollTop(parseInt(position.top) - 75);
        //}
        //else
        //{
        //    var position = $('.scrollPosition').val();

        //    $(window).scrollTop(parseInt(position));
        //}

        $(document).click(function (e)
        {
            $('#staffList').hide();
            $('#emailList').hide();
        });

        $('.assignment, #TO').click(function (e)
        {
            e.stopPropagation();

            var textBoxPostion = $(this).offset();

            var previousBox = $('#current');
            previousBox.removeAttr('id');

            $(this).attr('id', 'current');

            $('#staffList').show();
            $('#staffList').offset({top: textBoxPostion.top + 25, left: textBoxPostion.left});
            $('#staffList').offset({top: textBoxPostion.top + 25, left: textBoxPostion.left});

            
        });

        $('#staffList a').click(function (e)
        {
            var staffID = $(this).attr('href');
            var assignments = $('#current').val();

            assignments = assignments + staffID + ",";

            $('#current').val(assignments);

            $('#staffList').hide();

            e.preventDefault();
        });

        $('#externalEmail').click(function (e)
        {
            e.stopPropagation();
            var textBoxPostion = $(this).offset();

            $('#emailList').show();

            $('#emailList').offset({top: textBoxPostion.top - 225, left: textBoxPostion.left});
            $('#emailList').offset({top: textBoxPostion.top - 225, left: textBoxPostion.left});

        });

        $('#emailList a').click(function (e)
        {
            var staffID = $(this).attr('href');
            var assignments = $('#externalEmail').val();

            assignments = assignments + staffID + ",";

            $('#externalEmail').val(assignments);

            $('#emailList').hide();

            e.preventDefault();
        });

        $("#addPO").change(function() {
            AddPOFields();
        });

    });

    function ResetPosition()
    {
        $('.scrollPosition').val(0);
        CheckWorking();
    }

    function SaveTaskList(requestID) {

        CheckWorking();

        //var position = $('#EditTask').position();

        //$('.scrollPosition').val('EditTask');

        document.ReuqestForm.action = "/ProjectRequest/ProjectRequest/Request/EditRequest?requestID=" + requestID + "&position=EditTask";

        document.ReuqestForm.submit();

    }

    function DisplayReport()
    {
        $.magnificPopup.open({
            items: {
                src: '#addTime'
            },
            type: 'inline',
            callbacks: {
                close: function () {
                    $("#Chore").val('');
                    $("#TimeSpent").val('');
                    $("#reportResponse").html('');
                }
            }
        });
    }

    function AddTime()
    {
        var currentDate = $.datepicker.formatDate('mm/dd/yy', new Date());

        $.ajax({
            type: "POST",
            url: "/ProjectRequest/ProjectRequest/TimeSheet/AddTime",
            data: '{"id":"' + $("#Request").val() + '", "description":"' + $("#Chore").val() + '", "time":"' + $("#TimeSpent").val() + '"}',
            contentType: "application/json; charset=utf-8",
            success: function(response) {
                $("#reportResponse").html(response);
            },
            failure: function(response) {
                $("#reportResponse").html(response);
            }
        });
    }

    //function DisplayEmailField()
    //{
    //    $.magnificPopup.open({
    //        items: {
    //            src: '#addTime'
    //        },
    //        type: 'inline',
    //        callbacks: {
    //            close: function () {
    //                $("#Chore").val('');
    //                $("#TimeSpent").val('');
    //                $("#reportResponse").html('');
    //            }
    //        }
    //    });
    //}

    function SendExternalEmail(requestID)
    {
        var currentDate = $.datepicker.formatDate('mm/dd/yy', new Date());

        $.ajax({
            type: "POST",
            url: "/ProjectRequest/ProjectRequest/Request/SendExternalEmail",
            data: '{"requestID":"' + parseInt(requestID) + '", "sendTo":"' + $("#externalEmail").val() + '"}',
            contentType: "application/json; charset=utf-8",
            success: function(response) {
                $("#reportResponse").html(response);
            },
            failure: function(response) {
                alert(response);
            }
        });
    }

    function CheckWorking()
    {
        var numItems = $('.status').length

        if(numItems > 0)
        {
            var working = false;
            $('.status').each(function () {
                
                if($(this).val() == "Working")
                {
                    working = true;
                }
                
            });

            if(working == false)
                alert("You have not marked any task as working");
        }
    }

    function AddPOFields()
    {
        var count = $("#addPO").val();

        var html = "";

        for(i = 1; i <= count; i++)
        {
            html += "<div class='mdl-cell mdl-cell--3-col'>"
                + "<label for='poNumber'>New P0# " + i + ":</label><br />"
                + "<input type='text' name='poNumber_" + i + "'/>"
                + "</div>";
        }

        $("#additonalPO").html(html);

    }

    function getUrlVars() {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }

</script>
<script src="~/js/jquery.magnific-popup.js"></script>