@model ProjectRequest.Models.TemplateInfo

@{
    ViewBag.Title = "Edit CC Templates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.dueDate').datepicker();
        $('#staffList').hide();

        $(document).click(function (e) {
            $('#staffList').hide();
        });

        $('.assignment, #TO').click(function (e) {
            e.stopPropagation();
            var textBoxPostion = $(this).position();
            $('#staffList').css({ top: textBoxPostion.top + 30, left: textBoxPostion.left });
            $('#staffList').show();

            var previousBox = $('#current');
            previousBox.removeAttr('id');

            $(this).attr('id', 'current');
        });

        $('#staffList a').click(function (e) {
            var staffID = $(this).attr('href');
            var assignments = $('#current').val();

            assignments = assignments + staffID + ",";

            $('#current').val(assignments);

            $('#staffList').hide();

            e.preventDefault();
        });
    });
</script>

    <fieldset class="CaseFilter mdl-shadow--6dp">
    <legend>Create/Edit CC Templates</legend>
    <br />

@using (Html.BeginForm("EditTemplate", "Template"))
{
    if (Model.template != null)
    {
        <input type="hidden" id="templateID" name="templateID" value="@Model.template.templateID" />
        
        <md-input-container>
        <label for="templateName">Template Name:</label>
        <textarea cols="100" rows="3" type="text" id="templateName" name="templateName">@Model.template.templateName</textarea>
        </md-input-container>
    }
    else
    {
        <input type="hidden" id="templateID" name="templateID"  />
        
        <md-input-container>
        <label for="templateName">Template Name:</label>
        <textarea type="text" id="templateName" name="templateName"></textarea>
        </md-input-container>
    }
    

<div class='datagrid'>
<table>
<thead><tr><th>Order</th><th>Task</th><th>Status</th><th>Due Date</th><th>Assigned To</th><th>Delete</th></tr></thead>
<tbody>

@{
    string rowColor = "alt";
}

@foreach (var task in Model.taskList)
{
    if (rowColor == "noAlt")
    {
        rowColor = "alt";
    }
    else
    {
        rowColor = "noAlt";
    }

    string assignments = "";

    try
    {
        var currentAssignments = Model.taskAssignments.Where(t => t.taskID == task.taskID);

        foreach (var assigned in currentAssignments)
        {
            assignments += assigned.staffID + ", ";
        }
    }
    catch { }
    
    <tr class="@rowColor">
        <td>
            <md-input-container>
            <input type="text" name="Order_@task.taskID" id="Order_@task.taskID" value="@task.orderNum" class="order" />
            </md-input-container>
        </td>
        <td>
            <md-input-container>
            <textarea cols="150" name="Task_@task.taskID" id="Task_@task.taskID" class="task">@task.Task</textarea>
            </md-input-container>
        </td>
        <td>
            <select name="Status_@task.taskID" id="Status_@task.taskID">
            <option value="00">Please Select:</option>
            @foreach (var status in Model.taskStatus)
            {
                if (status.status == task.Status)
                {
                    <option value="@status.status" selected="selected">@status.status</option>      
                }
                else
                {
                    <option value="@status.status">@status.status</option>
                }
            }
        </select>
        </td>
        <td>
            <md-input-container>
            <input type="text" name="DueDate_@task.taskID" id="DueDate_@task.taskID" value="@task.DueDate" class="dueDate" />
            </md-input-container>
        </td>
        <td>
            <md-input-container>
            <input type="text" name="Assignment_@task.taskID" id="Assignment_@task.taskID" value="@assignments"  class="assignment" />
            <md-input-container>
        </td>
        <td>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="Delete_@task.taskID">
                <input type="checkbox" id="Delete_@task.taskID" name="Delete_@task.taskID" class="mdl-switch__input delete"  />
            </label>
        </td>
    </tr>
}
    @if (rowColor == "noAlt")
    {
        rowColor = "alt";
    }
    else
    {
        rowColor = "noAlt";
    }
    <tr class="@rowColor">
        <td>
            <md-input-container>
            <input type="text" name="Order" id="Order" class="order" />
            <md-input-container>
        </td>
        <td>
            <md-input-container>
            <textarea cols="150" name="Task" id="Task" class="task"></textarea>
            </md-input-container>
        </td>
        <td>    
        <select name="Status" id="Status">
            <option value="00">Please Select:</option>
            @foreach (var status in Model.taskStatus)
            {
                <option value="@status.status">@status.status</option>      
            }
        </select>
        </td>
        <td>
            <md-input-container>
            <input type="text" name="DueDate" id="DueDate" class="dueDate" />
            </md-input-container> 
        </td>
        <td>
        <md-input-container>
        <input type="text" name="Assignment" id="Assignment" class="assignment" />
        </md-input-container>
        </td>
        <td></td>
    </tr>

</tbody>

</table>
</div>
    
    <input type="submit" value="Save Template" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button" />
    
}

</fieldset>

<div id="staffList">
    <ul>
    @foreach (var staff in Model.staff)
    {
        <li><a href="@staff.staffID">@staff.firstName @staff.lastName</a></li>
    }
    </ul>
</div>
