@model ProjectRequest.Models.RequestInfoViewModel

@{
    //ViewBag.Title = "Request Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#date').datepicker();
    });
</script>
<h3>Requester Info</h3>

@using (Html.BeginForm("EditRequest", "Assignment", new { requestID = Convert.ToInt16(Request.QueryString["requestID"]) }))
{
    <label for="CT#">CT#</label>
    <input type="text" name="CT#" id="CT#" value="@Model.request.currentTrackID" />
    <br />
    
    <label for="date">Date Submitted:</label>
    <input type="text" name="date" id="date" value="@Model.request.dateRequested" />
    <br />
    
    <label for="name">Requester Name:</label>
    <input type="text" name="name" id="name" value="@Model.request.name" />
    <br />
    
    <label for="email">Email Address:</label>
    <input type="text" name="email" id="email" value="@Model.request.email" />
    <br />
    
    <label for="doaName">Approved By:</label>
    <input type="text" name="doaName" id="doaName" value="@Model.request.doaName" />
    <br />

    <label for="projectName">Project Name:</label>
    <input type="text" name="projectName" id="projectName" value="@Model.request.projectName" />
    <br />
    
    <label for="contactInfo">Contact Info:</label>
    <input type="text" name="contactInfo" id="contactInfo" value="@Model.request.contactInfo" />
    <br />
    
    <label for="location">Location:</label>
    <select name="location" id="location">
        <option value="00">Please Select:</option>
        @foreach (var location in Model.location)
        {
            if (location.name == Model.request.location)
            {
                <option value="@location.name" selected="selected">@location.name</option>      
            }
            else
            {
                <option value="@location.name" >@location.name</option>
            }
        }
    </select>
    <br />
    
    <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="00">Please Select:</option>
        @foreach (var category in Model.cateogires)
        {
            if (category.categoryID == Model.request.categoryID)
            {
                <option value="@category.categoryID" selected="selected">@category.categoryName</option>
            }

            else
            {
                <option value="@category.categoryID" disabled="disabled">@category.categoryName</option>
            }
        }
    </select>
    <br />
    
    <label for="comments">Comments:</label>
    <textarea cols="100" rows="1" id="comments" name="comments">@Model.request.comment</textarea>   
    <br />
    
    <label for="completed">Completed?</label>
    <select name="completed">
    @if (Model.request.completed == true)
    {
        <option value="Yes" selected="selected">Yes</option>
        <option value="No">No</option>
    }
    else
    {
        <option value="Yes" >Yes</option>
        <option value="No" selected="selected">No</option>
    }
    </select>
    <br />
    
    if (@Model.request.doaAttachment != "Submitted by DOA" && @Model.request.doaAttachment != "Approval not needed")
    {
        <h4><a href="~/Attachments/@Model.request.doaAttachment">Approval File</a></h4>
    }
    else
    {
        <h4>@Model.request.doaAttachment</h4>
    }
    
<h3>Request Info</h3>


    foreach (var request in Model.answerList)
    {
        <label for="@request.answer.AnswerID">@request.question</label>
        <textarea cols="100" rows="1" id="@request.answer.AnswerID" name="@request.answer.AnswerID">@request.answer.AnswerText</textarea>   
        <br />
    }
    
        <label for="additionalInfo">Additional Info</label>
        <textarea cols="100" rows="1" id="additionalInfo" name="additionalInfo">@Model.request.additionalInfo</textarea>   
        <br />

<h3>Attachments</h3>

<div class='datagrid'>
<table>

    <thead>
    <tr>
    <th>File Path</th>

    @if (Model.request.categoryID == "cool")
    {
        <th>Caption</th>
    }

    </tr>
    </thead>

@foreach (var attachment in Model.attachment)
{

    <tr>
    <td><a href="~/Attachments/@attachment.filePath">@attachment.filePath</a></td>
    @if (Model.request.categoryID == "cool")
    {
        <td>@attachment.caption</td>
    }
    </tr>
}


</table>
</div>


    <h3>Assign Request</h3>
var assignmentList = Model.assignments.Select(a => a.staffID).ToList();
foreach (var staff in Model.staff)
{
    if (assignmentList.Contains(staff.staffID))
    {
                    
                <p><input type="checkbox" id="CB_@staff.staffID" name="CB_@staff.staffID" value="@staff.staffID" checked="checked" /> @staff.firstName @staff.lastName</p>   
    }
    else
    {
                <p><input type="checkbox" id="CB_@staff.staffID" name="CB_@staff.staffID" value="@staff.staffID" /> @staff.firstName @staff.lastName</p> 
    }
}
        
    <input type="submit" name="assign" value="Submit Changes" />
        
}


