@model ProjectRequest.Models.RequestListCategory
@using ProjectRequest.HTMLHelpers;

<script type="text/javascript">
    $(document).ready(function () {
        $('#dateStart').datepicker();
        $('#dateEnd').datepicker();
    });
</script>

<h3>Filter Requests</h3>

@using (Html.BeginForm("Index", "Assignment"))
{
    <label for="dateStart">Date Start:</label>
    if (Model.PagingInfo.dateStart != null)
    {
        <input type="text" name="dateStart" id="dateStart" value="@Model.PagingInfo.dateStart" />
    }
    else
    {
        <input type="text" name="dateStart" id="dateStart" />
    }
    <br />
    
    <label for="dateEnd">Date End:</label>
    if (Model.PagingInfo.dateEnd != null)
    {
        <input type="text" name="dateEnd" id="dateEnd" value="@Model.PagingInfo.dateEnd" />
    }
    else
    {
        <input type="text" name="dateEnd" id="dateEnd" />
    }
    <br />
    
    <label for="location">Location:</label>
    <select name="location" id="location">
        <option value="00">Please Select:</option>
        @foreach (var location in Model.location)
        {
            if (location.name == Model.PagingInfo.location)
            {
                <option value="@location.name" selected="selected">@location.name</option>      
            }   
            else
            {
                <option value="@location.name" >@location.name</option>
            }
        }
    </select>
    <br />
    
    <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="00">Please Select:</option>
        @foreach (var category in Model.cateogires)
        {
            if (category.categoryID == Model.PagingInfo.category)
            {
                <option value="@category.categoryID" selected="selected">@category.categoryName</option>
            }

            else
            {
                <option value="@category.categoryID">@category.categoryName</option>
            }
        }
    </select>
    <br />

    <label for="completed">Completion Status:</label>
    <select name="completed" id="completed">
        <option value="00">Please Select:</option>
        @foreach (var status in Model.PagingInfo.completionStatus)
        {
            if (status.Key == Model.PagingInfo.completed)
            {
                <option value="@status.Key" selected="selected">@status.Value</option>
            }

            else
            {
                <option value="@status.Key">@status.Value</option>
            }
        }   
    </select>
    <br />
    
    <input type="submit" name="search" value="Filter Results" />
}

<h3>Project Requests</h3>

<div class='datagrid mdl-shadow--6dp'>
<table>
<thead><tr><th>CT#</th><th>Date Submitted</th><th>Requester Name</th><th>Approved By</th><th>Project Name:</th><th>Details</th><th>Location</th><th>Category</th><th>Attachments</th></tr></thead>
<tbody>

@{
    string rowColor = "alt";
}

@foreach (var request in Model.requestList)
{
    var myAttachments = Model.attachments.Where(a => a.requestID == request.Request.reuqestID);
    
    if (rowColor == "noAlt")
    {
        rowColor = "alt";
    }
    else
    {
        rowColor = "noAlt";
    }
    
    <tr class="@rowColor">
    <td>@request.Request.currentTrackID</td>
    <td>@request.Request.dateRequested</td>
    <td>@request.Request.name</td>
    <td>@request.Request.doaName</td>
    <td>@request.Request.projectName</td>
    <td>@Html.ActionLink("View Request", "RequestInfo", new { requestID = @request.Request.reuqestID }, new { target = "_blank" }) </td>
    <td>@request.Request.location</td>
    <td>@request.Category.categoryName</td>
    <td>
    @foreach (var attachment in myAttachments)
    {
        <a href="~/Attachments/@attachment.filePath">@attachment.filePath<br /></a>
    }    
    </td>
    </tr>
}

</tbody>

<tfoot>
<tr><td colspan="9">
<div class="paging">
<ul>
@Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new {page = x}))
</ul>
</div>
</td></tr>
</tfoot>
</table>

</div>
